#contacts {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 100px 20px;
  background: #111;
  color: white;
  gap: 20px;
}

.leftcontact {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftcontact img {
  width: 50%;
  filter: drop-shadow(2px 2px 10px yellow);
  margin-bottom: 20px;
}

.contact-social-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.contact-social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 15px;
  background: yellow;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 13px yellow;
}

.contact-social-btn img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  
}

.contact-social-btn:hover {
  background-color: yellow;
  border-color: yellow;
  color: black;
}

.rightcontact {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px;
    position: relative; 
}

.scroll-top-btn {
  position: fixed;      
  bottom: 40px;         
  right: 40px;          
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: yellow;
  border: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px yellow;
  transition: all 0.3s ease;
  z-index: 1000;        
}

.scroll-top-btn:hover {
  background: rgb(230, 211, 66);
  box-shadow: 0 0 20px rgb(230, 211, 66);
}

.rightcontact h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.rightcontact h1 span {
  color: #ff004f;
}

.rightcontact p {
  font-size: 16px;
  margin-bottom: 30px;
  color: #bbb;
}

.rightcontact a {
  color: #00aaff;
  text-decoration: none;
}

.rightcontact a:hover {
  text-decoration: underline;
}

.rightcontact form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.rightcontact input,
.rightcontact textarea {
  background: #1a1a1a;
  border: none;
  outline: none;
  padding: 12px 15px;
  border-radius: 6px;
  font-size: 16px;
  color: white;
}

.rightcontact textarea {
  resize: none;
  height: 120px;
}

#btn {
  background: #ff004f;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

#btn:hover {
  background: #e60046;
}

/* Responsive */
@media (max-width: 750px) {
  #contacts {
    flex-direction: column;
    padding: 50px 20px;
  }
  .leftcontact,
  .rightcontact {
    width: 100%;
    align-items: center;
  }
  .leftcontact img {
    width: 70%;
    margin-bottom: 20px;
  }
  .contact-social-buttons {
    justify-content: center;
  }
  .rightcontact {
    padding: 0 20px;
  }
  .rightcontact h1 {
    font-size: 32px;
    text-align: center;
  }
  .rightcontact p {
    text-align: center;
  }
}
