nav{
  width:100%;
  height: 80px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:40px;
  position: fixed;
  top: 0;
  z-index: 20;
  background-color:rgba(17,20,23);

}

nav ul a{
  cursor: pointer;

}

nav ul a:hover{
  color: rgb(36, 207, 207);
  border-bottom: 2px solid white;
  
}

.active{
  color: rgb(36, 207, 207);
  border-bottom: 2px solid white;
}

ul{
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:20px;
  list-style:none;
  font-size: 20px;
}

nav h1 {
  font-size: 30px;
  background:linear-gradient(to right , rgb(203, 70, 203), rgb(228, 234, 227)) ;
  background-clip: text;
  color: transparent;
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; 
  flex-direction: column;
  display: none;
  
}

.ham{
  width: 35px;
  height: 2px;
  background-color: aliceblue;
  transition: all 0.4s ease; 

}

.activeham .ham:nth-child(1){
  transform: rotate(45deg) translate(7px, 7px);

}
.activeham .ham:nth-child(2){
  opacity: 0;
}
.activeham .ham:nth-child(3){
  transform: rotate(-45deg) translate(7px, -7px);
}

.mobilemenu{
  position: absolute;
  top: 80%;
  width: 100%;
  height: 100vh;
  border-color: aliceblue;
  right: 0;
  gap: 50px;
  transform: translateX(100%);
  flex-direction: column;
  transition: all 0.5s ease-in-out;
   backdrop-filter: blur(5px); 
  background-color: rgba(0,0,0,0.3); 
}

.activemobile{
  transition: all 0.5s ease-in-out;
  transform: translateX(0%);
  backdrop-filter: blur(5px);
  background-color: rgba(0,0,0,0.3);
}

@media (max-width:750px) {
  .desktopmenu{
    display: none;
  }
  .hamburger{
    display: flex;
  }
}